apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../base
  - ./ns.yaml
  - ./hpa.yaml
  - ./pdb.yaml

  # Frontend resilience
  - ./frontend-dr.yaml
  - ./frontend-vs.yaml
  - ./frontend-canary-deploy.yaml

  # Backend circuit breakers
  - ./cartservice-cb.yaml
  - ./dr-backend-cartservice.yaml
  - ./dr-backend-productcatalogservice.yaml
  - ./dr-backend-currencyservice.yaml
  - ./dr-backend-recommendationservice.yaml
  - ./dr-backend-shippingservice.yaml
  - ./dr-backend-checkoutservice.yaml
  - ./dr-backend-adservice.yaml


patches:
  # Disable Istio ONLY for loadgenerator
  - target:
      kind: Deployment
      name: loadgenerator
    path: ./istio-inject-remove.patch.yaml

  # Service-specific patches
  - path: ./ad-deploy.patch.yaml
  - path: ./frontend-deploy.patch.yaml
  - path: ./cart-deploy.patch.yaml
  - path: ./checkout-deploy.patch.yaml
  - path: ./productcatalog-deploy.patch.yaml
  - path: ./redis-cart-deploy.patch.yaml
  - path: ./currency-deploy.patch.yaml
  - path: ./shipping-deploy.patch.yaml
  - path: ./monitoring-patch.yaml
  - path: ./security-patch.yaml
  - path: ./config-patch.yaml

configMapGenerator:
  - name: frontend-message
    literals:
      - message=opq-products - avail 5% off with COUPON "OPQ2025"

secretGenerator:
  - name: redis-secret
    literals:
      - password=redispassword

  - name: app-secrets
    literals:
      - session-secret=devsessionsecret

  - name: payment-secrets
    literals:
      - api-key=paymentapikey

  - name: db-secrets
    literals:
      - connection-string=postgres://productcatalog:password@db:5432/products

  - name: api-secrets
    literals:
      - exchange-rate-key=exchangerateapikey
      - shipping-key=shippingapikey
